.jumbotron{
    background-color: blue;
    color: white;
}

#schedHeading{
    background-color: blue;
    color: white;
    font-weight: bolder;
}

#currSched{
    background-color: blue;
    color: white;
    font-weight: bolder;
   
}

.form-group{
    line-height: 30px;
}

#submit{
    background-color: blue;
    color: white;
    font-weight: bolder;
}


   

